.mission {
  background-color: #00376e;
  .inner {
    padding: 20px;
    .logoWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        width: 220px;
      }
    }
    p {
      color: #fff;
      text-align: center;
      margin-top: 1.25rem;
    }
  }
}
@media (min-width: 768px) {
  .mission {
    .inner {
      padding: 60px 40px;
      .logoWrapper {
        .logo {
          width: 400px;
        }
      }
      
    }
  }
}
