.callout {
  padding: 30px 40px;
  text-align: center;
  border: 5px solid #fff;
  outline: 2px solid #E1251B;
  background-color: #00376e;
  color: #fff;

  .inner {
    font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 130%;
  }
}