.subpageBanner {
  position: relative;
  background-color: #00376e;
  text-align: center;
  color: #000;
  .bgImage {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    
  }

  .inner {
    position: relative;
    z-index: 1;
    padding: 40px 47px 52px;
    .box {
      display: flex;
      .border {
        width: 100%;
        border: 20px solid rgba(255, 255, 255, 0.5);
        .bg {
          padding: 30px 20px;
          background-color: rgba(255, 255, 255, 0.9);
          h2 {
            letter-spacing: -0.02em;
            line-height: 0.9;
            text-transform: uppercase;
            padding-bottom: 0.5rem;
          }
          h2:before {
            content: "";
            display: block;
            margin: 0;
            width: 0px;
            padding-top: 0px;
            border-top: 0px;
          }
          p {
            margin-bottom: 1.25rem;
            a {
              text-transform: uppercase;
              font-weight: 700;
              border: 2px solid #e1251b;
              background-color: #fff;
              color: #005bc0;
              font-family: "proxima-nova", sans-serif;
              text-decoration: none;
              font-size: 1.125rem;
              padding: .8rem 1.2rem;
            }
            a:hover {
              background-color: #005bc0;
              color: #fff;
              -moz-transition: all 0.2s ease-in;
              -o-transition: all 0.2s ease-in;
              -webkit-transition: all 0.2s ease-in;
              transition: all 0.2s ease-in;
            }
          }
          .linkWrapper {
            display: flex;
            .link {
              text-decoration: none;
              text-transform: uppercase;
              color: #00376e;
              font-weight: 800;
              border: 2px solid #e1251b;
              padding: 6px 24px;
              background-color: rgba(255, 255, 255, 0.6);
              font-size: 1rem;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .subpageBanner {
    .inner {
      padding: 140px 0;
      .box {
        justify-content: start;
        margin: 0 100px;
        .border {
          width: 50%;
          .bg {
            padding: 30px 50px 20px;
          }
          h2 {
            padding-bottom: 2rem;
            padding-top: 0.3em;
          }
          p {
            padding-bottom: 2rem;
          }
          .link {
            padding: 13px 40px;
            font-size: 1.125rem;
          }
        }
      }
    }
    &:nth-child(even) .inner .box {
      justify-content: start;
      
    }
    &:nth-child(even) .inner .box {
      justify-content: end;
    }
  }
}
@media (min-width: 992px) {
  .subpageBanner {
    .inner {
      //margin: 0 100px;
    }
  }
}
