.banner {
  background-color: #00376e;
  background-image: url("/images/backgrounds/waves3.webp");
  background-size: cover;
  position: relative;
  color: #ffffff;
  text-align: center;
  .background {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;

    &::after {
      content: " ";
      z-index: 10;
      display: block;
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(7, 39, 71, 0.66);
    }
  }
  .inner {
    padding: 40px 47px 52px;
    p {
      font-size: 115%;
    }
    &.short {
      padding: 30px 47px 20px;
    }
    .text {
      margin: 0 auto;
      h1 {
        font-size: 2.25rem;
        line-height: 1em;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding: 15px 0 18px;
      }
    }
  }
}

@media (min-width: 768px) {
  .banner {
    .inner {
      padding: 160px 47px 120px;
      p {
        font-size: 140%;
      }
      &.short {
        padding: 40px 47px;
      }
      .text {
        h1 {
          font-size: 3.5rem;
          letter-spacing: -.01rem;
          line-height: 1em;
          padding-bottom: 34px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .banner {
    .inner {
      .text {
        width: 75%;
      }
    }
  }
}
