.benefits {
  position: relative;
  background-color: #013d77;
  color: #fff;
  .inner {
    padding: 60px 20px;
    z-index: 10;
    h3 {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.025rem;
    }
    .grid {
      //display: grid;
      //grid-template-columns: repeat(1, minmax(0, 1fr));
      //row-gap: 40px;
      justify-content: center;
      align-items: flex-start;
      .benefit {
        .iconWrapper {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #e1251b;
            border-radius: 9999px;
            width: 120px;
            height: 120px;
          }
          .icon:hover,
          .icon:focus {
            color: #e1251b;
          }
        }
        .titleWrapper {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          .title {
            text-align: center;
            font-size: 1rem;
            line-height: 1.4;
            padding-top: 22px;
            padding-bottom: 12px;
            width: 100%;
          }
        }
        .description {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          p {
            text-align: center;
            width: 75%;
          }
        }
      }
    }
  }
  .btnWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    button {
      display: flex;
      align-items: center;
      font-family: "proxima-nova", sans-serif;
      font-size: 1.125rem;
      font-weight: 800;
      letter-spacing: 0.1em;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      background: none;
      border: none;
      cursor: pointer;
      outline: inherit;
      svg {
        margin-left: 0.5rem;
      }
    }
    button:hover,
    button:focus {
      color: #e1251b;
    }
  }
}

@media (min-width: 768px) {
  .benefits {
    .inner {
      padding: 100px 40px;
      .grid {
        grid-template-columns: repeat(3, minmax(0, 3fr));
        .benefit {
          .titleWrapper {
            .title {
              font-size: 1.5rem;
              width: 60%;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .benefit {
    .titleWrapper {
      .title {
        font-size: 2rem;
        width: 75%;
      }
    }
  }
}
